@import "~bootstrap/scss/bootstrap";

@import "utils/variables";
@import "layouts/sidebar";
@import "layouts/navbar";
@import "layouts/footer";
@import "contents/user";

body {
    background-color: #f5f5f5;

    .page-container {
        min-height: 100vh;
        padding-left: 280px;
        transition: $transition;

        .main-content {
            padding: 80px 20px 20px 20px;
        }
    }

    .is-collapsed {
        .page-container {
            padding-left: 70px;
            transition: $transition;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        .page-container {
            padding-left: 70px;
            transition: $transition;
        }

        .is-collapsed {
            .page-container {
                padding-left: 280px;
                transition: $transition;
            }
        }
    }

    @media screen and (max-width: 991px) {
        .page-container {
            padding-left: 0;
            transition: $transition;
        }

        .is-collapsed {
            .page-container {
                padding-left: 0;
                transition: $transition;
            }
        }
    }
}
