<form
   class="form-delete"
   method="post"
   action="{{ path('admin_user_delete', {'id': user.id}) }}"
   onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet utilisateur ?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {% if app.request.get('_route') == 'admin_user_show' %}
        <button class="mt-1 btn btn-danger btn-user-delete">Supprimer</button>
    {% else %}
        <button class="btn-delete">
            <i class="fas fa-trash-alt"></i>
        </button>
    {% endif %}
</form>
