{% extends 'administration/base.html.twig' %}

{% block body %}
    <div class="bg-white p-4">
        <h3>Modifier le mot de passe de l'utilisateur</h3>
        {{ include('administration/user/_password_form.html.twig') }}
        <div class="text-center mt-3">
            <a class="" href="{{ path('admin_user_edit', {"id": user.id}) }}">Modifier les informations de cet utilisateur</a>
        </div>
    </div>
{% endblock %}
