{% extends 'administration/base.html.twig' %}

{% block body %}
    <div class="bg-white p-4">
        <h3>Ajouter un nouveau utilisateur</h3>
        {{ include('administration/user/_form.html.twig') }}
    </div>
{% endblock %}
