.table-link>a {
  text-decoration: none;
  color: $black;
}

.table-action {
  min-width: 100px;
  width: 100px;

  .table-edit {
    color: $blue;
    display: inline-block;
  }

  .table-edit-password {
    color: $yellow;
    display: inline-block;
  }

  a {
    padding: 0 4px;
    text-decoration: none;
  }
}

.form-delete {
  display: inline-block;

  .btn-delete {
    border: none;
    background: none;
    color: $red;
    padding: 0 4px;
  }
}

.navigation {
  display: grid;

  .page-item.active .page-link {
    background-color: #57cbff;
    border-color: #57cbff;
  }

  .page-link {
    color: black;

    &:hover {
      background-color: #8fcded;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(65, 204, 255, 0.25);
      background-color: #8fcded;
    }
  }
}
