$border-sidebar: 1px solid rgba(0, 0, 0, 0.0625);
$border-navbar: 1px solid rgba(0, 0, 0, 0.0625);
$border-footer: 1px solid rgba(0, 0, 0, 0.0625);
$transition: all 0.2s ease;

$background-main: #f5f5f5;
