{% extends 'base.html.twig' %}

{% block body %}
   <section id="accueil">
      <div class="banner">
         <div class="typed-block">
            <p>Je suis <span class="typed"></span></p>
         </div>
      </div>
   </section>
{% endblock %}
